.discover {
  padding: 5rem 0 4.375rem;
  background-color: #fbfbed;
  @include media-breakpoint-down(lg) {
    padding: 3.5rem 0 3.775rem;
  }
  @media (max-width: 395px) {
    padding: 2rem 0 3rem;
  }

  .discover__heading {
    @include media-breakpoint-down(md) {
      text-align: center;
    }

    .accent__word,
    .word__area {
      font-size: 2.5rem;
      color: #3dbe98;
      text-transform: uppercase;
      @include media-breakpoint-down(lg) {
        font-size: 2.188rem;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.988rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.877rem;
      }
    }

    .accent__word{
      margin-right: .5em;
    }

    p .description {
      font-size: 14px;
      margin: 0;
    }
  }

  .discover__main {
    justify-content: space-between;
    margin-bottom: 60px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
    }


    .first {
      @include media-breakpoint-down(sm) {
        margin-top: 1rem;
      }
    }

    .discover__card {
      display: flex;
      flex-direction: column;
      width: calc(25% - 20px);
      background-color: white;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 0;
      margin: 0;
      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 400px;
      }

      @media(max-width: 405px) {
        max-width: 450px;
      }

      .discover__card-description {
        padding: 20px;
      }

      .discription {
        margin: 0;
        padding-top: 10px;
        color: #666666;
      }

      .discover__img {
        width: 100%;
        height: 100%;
      }

      .discover__island-name {
        text-transform: uppercase;
        color: #3dbe98;
        font-size: 1.5rem;
        margin: 0;
        padding-bottom: 10px;
        @include media-breakpoint-down(lg) {
          font-size: 1.4rem;
        }
      }

      .price__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.596);
        background-color: #3dbe98;
        padding: 1.3rem 0;
        padding-left: 1.3rem;
        bottom: 0;

        .price__number {
          color: #fff;
          font-size: 1.3rem;
          position: relative;
          @include media-breakpoint-down(lg) {
            font-size: 1.177rem;
          }
        }

        div {
          display: inline-block;
          margin-right: 30px;
        }
      }
    }
  }

  .discover__footer {
    text-align: center;

    .discover__footer-text {
      margin: 0;
      padding: 0;
      color: #656562;
      margin-bottom: 42px;
    }

    .form__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      div {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 670px;

        .form-select {
          font-family: 'Gotham';
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
          width: 100%;
          max-width: 670px;
          padding: 0 20px;
          outline: none;
          border: none;
          border-radius: 0;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          font-size: 16px;
          background-image: url('../img/icons/Rectangle.png');
          background-repeat: no-repeat;
          background-position: right 20px center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
    }

    .exploreBtn {
      text-transform: uppercase;
      font-size: 1.25rem;
      padding: 11px 60px;
      background-color: #3dbe98;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      outline: none;
      border: none;
      border-radius: 0;
      color: #fff;
      @include media-breakpoint-down(lg) {
        font-size: 1.1rem;
        padding: 11px 55px;
      }
      @include media-breakpoint-down(md) {
        font-size: 1rem;
        padding: 9px 45px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1rem;
        padding: 8px 35px;
      }
      @media (max-width: 480px) {
        font-size: .9rem;
        padding: 7px 25px;
      }
      @media (max-width: 350px) {
        font-size: .8rem;
        padding: 7px 20px;
      }
    }
  }
}

span.arrow {
  position: relative;
  display: inline-block;
  margin-left: 40%;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 5px;
  height: 15px;
  transform: rotate(45deg);
  padding-right: 10px;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: -1px;
    right: 0;
    background-color: #fff;
    transform-origin: 20px 1px;
    transform: rotate(315deg);
  }
}

.exploreBtn,
.form-select {
  min-height: 3.75rem;
}